
@font-face{
    font-family: 'Aileron thin';
    src: url('../fonts/aileron/Aileron-Thin.otf') format("opentype");
    
}
/* WRAPPER */

/*
#wrapper{
    width: 965px;
    height: auto;
    justify-content: center;
}
*/

/* MENU HEADER */

#menu{
    height:130px ;
    width:auto ;
    background-color:#212121 ;
    display: flex;
    
}

#menu #logo{
    margin-left: -43px;
}

#subtitle img{
    position: absolute;
    width: 300px;
    height:auto;
    margin-top: 29px;
    margin-left:-28px ;
   
    
}

#burger img{
    margin-left: 385px;
    margin-top: 25px;
}

#menu_burger{
    color: white;
    margin-left:48%;
    margin-top: 130px;
    position: absolute;
    background-color: #212121;
    font-family: 'Aileron thin',arial;
    font-size: 3.7em;
    width: 50%;
    height: 35%;
    display: none;
    
   
    
    
    
}

#menu_burger nav ul{
    list-style-type: none;
    margin-top: 20px;
    
   
      
    
}
#menu_burger a{
    text-decoration: none;
}



#menu_burger nav ul li{
    border-bottom-color: white;
    border-bottom: 0.2rem solid;
    line-height: 90px;
    margin-left: 0px;
     
 
}


#menu_burger nav ul a li{
    color: white;   
}



/*
 background-color: #c2185b;
*/
/* MENU BURGER*/


/* BANNIERE */

#banniere img{
    max-width: 964px;
    margin-bottom: -3px;
    display: block;
    margin: auto;
}




/* CONTENU ARTICLES */
#main {
    display: flex;
    flex-direction: column;
}


#main #art_1{
    height:390px ;
    width:auto ;
    background-color:#8fa9b1 ;
        opacity: 0.93;

    
}

#main #art_1 img{
    opacity: 1; 
}

#main #art_2{
    height:390px ;
    width:auto ;
    background-color:#17371c ;
    opacity: 0.91;

}

#main #art_2 img{
    opacity: 1; 
}


#main #art_3{
    height:390px;
    width:auto ;
    background-color:#212121 ;
    opacity: 0.91;   
}

#main #art_3 img{
    opacity: 1; 
}

#main #art_2 img{
    float: right;
}

/* NEWSLETTER */
#block_news{
    height:800px ;
    width:auto ;
    background-color:#212121 ;
}
#newsletter img{
    display: block;
    margin: auto;
    height:50%;
    width:50% ;

}

#news_info{
    margin-left:0px ;
    margin-right:0px ;
    margin-top: 45px;
    text-align: center;
    color:white;
    font-family: 'Aileron thin',arial;
    font-size:2.1em;
    text-transform: uppercase;
    word-spacing: 0.3rem;
}

#button_mail input{
    background-color: white;
    height:110px ;
    width:760px ;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family:'Aileron thin', arial;
    font-size: 2.5em;
    color: black;
}

#button_inscription input{
    background-color: #e4ff09;
    height:110px;
    width:280px ;
    display: block;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
    font-family:'Aileron thin', arial;
    font-size: 2.5em;
    color: black;
 
}


/* FOOTER */

#block_footer{
    height:200px ;
    width:auto ;
    background-color:#212121 ;
    
}

#block_footer img{
    margin-top: 23px;
    height: auto;
    width: 44%;
}

/*@media screen and (min-width: 960px)and (max-width: 1400px)*/


@media screen and (min-width: 1400px) {
  
    #wrapper{
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 3350px;
    }
    
    body{
        background-color: white;
        zoom:0.5;
        width: 100%;
    }
    
    body p{
        line-height: 150%;
    }
    
    header{
       width: 100%;
       margin-left: ;
      
    }
    
    #menu{
        justify-content: space-around;
        
    }
    
    #menu_burger{
        width: 23%;
        margin-left: 38.5%;
        height: 500px;
    }
    
    #logo{
       
    }
    
    #subtitle{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    #subtitle img{
        width:500px;
        height:auto;
        margin-top: 0px;
        margin-left: -175px;
    }
    
    #burger{
        margin-right: 10px;
    }
    
    /* BANNIERE */
    
    #banniere img{
        zoom:1.3;  
    }
    
    /* MAIN */
    
    
    #main img{
        height: 525px;
        width: auto;
        
       
    }
    
    #main #art_1{
        height: 650px;
    }
    
     #main #art_1 img{
        margin-left:50px ;
        margin-top: 60px;

    }
    
    #main #art_2{
         height: 650px;
    }
    
     #main #art_2 img{
       margin-right:50px ;
       margin-top: 60px;     
    }
    
    #main #art_3{
        height: 650px;
    }
    
     #main #art_3 img{
       margin-left:50px ;
       margin-top: 60px;     
    }
    
    
    
    /* NEWSLETTER*/
    
    #block_news{
        height: 800px;
    }
    
    #newsletter img{
        height:500px;
        width:auto;
        padding-top: 125px;
        margin-left: 15%;
    }
    #newsletter h3{
        float: right;
        margin-top:-500px; 
        margin-right: 730px;
    }
    
    #newsletter form{
        margin-top: -300px;
        margin-right: 700px;
        float: right;
    }
    

    /* FOOTER*/
    
    #block_footer{
        height:500px;
        border-top-color: #faf9ff;
        border: 1px solid; 
        margin-top: 1px;
    }
    
    #block_footer img{
        height:auto;
        width: 18%;
        margin-top: 70px;
    }
    
    

}

